apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskdemo
  labels:
    app: flaskdemo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flaskdemo
  template:
    metadata:
      labels:
        app: flaskdemo
    spec:
      containers:
      - name: flaskdemo
        image: htrix/test:9
        resources: {}
        env:
        - name: PALAVRA1
          valueFrom:
            secretKeyRef:
              name: flaskdemo-secret
              key: palavra1
        - name: PALAVRA2
          valueFrom:
            secretKeyRef:
              name: flaskdemo-secret
              key: palavra2
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service
  labels:
    app: lb-service
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: flaskdemo
